*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "OpenSans-ExtraBold";
    font-weight: normal;
    font-style: normal;
    src: url("./fonts/OpenSans-ExtraBold.ttf");
}

@font-face{
    font-family: "OpenSans-Regular";
    font-weight: normal;
    font-style: normal;
    src: url("./fonts/OpenSans-Regular.ttf");
}

html{
    background-image: url(./img/background1.jpg);
    max-width: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo{
    width: 15vw;
}

header{
    margin-right: 1vw;
}

.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 7vw;
}

h1{
    font-family: OpenSans-ExtraBold;
    font-size: 4vw;
    color: white;
    text-shadow: 3px 3px 6px black;
    text-align: center;
}

h2{
    font-family: OpenSans-ExtraBold;
    font-size: 2vw;
    color: white;
    text-shadow: 3px 3px 6px black;
    text-align: center;
}

.webTop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    list-style: none;
}

li{
    font-family: OpenSans-Regular;
    font-size: 1vw;
    color: white;
    text-shadow: 3px 3px 6px black;
    text-align: center;
    padding: 0vw 1vw 0vw 1vw;
}